
html,
body {
	height: 100%;
	background-color: #efeff4;
	font-family: "微软雅黑" !important;
}

.mui-segmented-control-yao {
	border: 1px solid #007FCA;
}

.mui-segmented-control-yao .mui-control-item {
	color: #4A87B6;
	/*字体颜色要清晰一些*/
	border-color: inherit;
}

.mui-segmented-control-yao .mui-control-item.mui-active {
	color: #fff;
	background: #007FCA;
}

.mui-segmented-control-yao.mui-segmented-control-inverted .mui-control-item.mui-active {
	color: #007FCA;
	border-bottom: 2px solid #007FCA;
	background: none;
}

.mui-segmented-control-negative.mui-segmented-control-inverted~.mui-slider-progress-bar {
	background-color: #007FCA;
}


/*------*/

.navbar {
	/*background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#E3E3E3));*/
	background: #FFFFFF;
}

.tabbar {
	background: #FFFFFF;
}

.oabtn {
	/*background: -webkit-linear-gradient(top, #007FCA, #4A87B6, #007FCA);*/
	background: #0084C8;
}

.backbtn {
	color: #4A87B6;
}

.mui-control-content {
	background-color: white;
}

.item-div {
	margin: 10px 20px 10px 10px;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.item-name {
	text-align: right;
	width: 30%;
	color: #666666;
	font-size: 16px;
}

.item-value {
	margin-left: 15px;
	width: 70%;
	color: #333333;
	font-size: 16px;
}

.headImg {
	width: 45px;
	position: fixed;
	right: 20px;
}

.filelink {
	color: #6699FF;
}